@charset "utf-8";/* CSS Document */
@font-face{font-family:'Lato-Regular';src:url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Light';src:url('fonts/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato-Light.woff') format('woff');font-weight:300;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff');font-weight:bold;font-style:normal;}
@font-face{font-family:'Sen-Regular';src:url('fonts/Sen-Regular.woff2') format('woff2'),
        url('fonts/Sen-Regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Hairline';src:url('fonts/Lato-Hairline.woff2') format('woff2'),
        url('fonts/Lato-Hairline.woff') format('woff');font-weight:300;font-style:normal;}


/******************splitting-cells.css*************************/
.splitting img{width:100%;display:block;}
@supports ( display:grid ){.splitting.cells{position:relative;overflow:hidden;background-size:cover;visibility:hidden;}
.splitting .cell-grid{background:inherit;position:absolute;top:0;left:0;width:100%;height:100%;display:grid;grid-template:repeat( var(--row-total), 1fr ) / repeat( var(--col-total), 1fr );}
.splitting .cell{background:inherit;position:relative;overflow:hidden;}
.splitting .cell-inner{background:inherit;position:absolute;visibility:visible;width:calc(100% * var(--col-total));height:calc(100% * var(--row-total));left:calc(-100% * var(--col-index));top:calc(-100% * var(--row-index));}
.splitting .cell{--center-x:calc((var(--col-total) - 1) / 2);--center-y:calc((var(--row-total) - 1) / 2);--offset-x:calc(var(--col-index) - var(--center-x));--offset-y:calc(var(--row-index) - var(--center-y));--distance-x:calc( (var(--offset-x) * var(--offset-x)) / var(--center-x) );--distance-y:calc( (var(--offset-y) * var(--offset-y)) / var(--center-y) );}
}
/*******************splitting-cells.css**************************/
/******************splitting.css*************************/
.splitting .word, .splitting .char{display:inline-block;}
.splitting .char{position:relative;}
.splitting .char::before, .splitting .char::after{content:attr(data-char);position:absolute;top:0;left:0;visibility:hidden;transition:inherit;user-select:none;}
.splitting{--word-center:calc((var(--word-total) - 1) / 2);--char-center:calc((var(--char-total) - 1) / 2);--line-center:calc((var(--line-total) - 1) / 2);}
.splitting .word{--word-percent:calc(var(--word-index) / var(--word-total));--line-percent:calc(var(--line-index) / var(--line-total));}
.splitting .char{--char-percent:calc(var(--char-index) / var(--char-total));--char-offset:calc(var(--char-index) - var(--char-center));--distance:calc( (var(--char-offset) * var(--char-offset)) / var(--char-center) );--distance-sine:calc(var(--char-offset) / var(--char-center));--distance-percent:calc((var(--distance) / var(--char-center)));}
/******************splitting.css end*************************/

body{font-family:'Lato-Regular',sans-serif;font-size:14px;color:#47484a;}
a,a::after,a::before,button::after,button::before{position:relative;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
label{font-weight:normal;}

/***********************mobMenu************************/
#menu-toggle span{display:block;background:#ff6089;border-radius:2px;}
#menu-toggle{width:38px;height:38px;position:relative;cursor:pointer;float:right;}
#menu-toggle:hover{}
#menu-toggle #hamburger{position:absolute;height:100%;width:100%;left:0;top:0;}
#menu-toggle #hamburger span{width:100%;height:3px;position:relative;top:0;left:0;margin:7px 0;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#menu-toggle #hamburger span:nth-child(1){transition-delay:.5s;}
#menu-toggle #hamburger span:nth-child(2){transition-delay:.625s;}
#menu-toggle #hamburger span:nth-child(3){transition-delay:.75s;}
#menu-toggle #cross{position:absolute;height:100%;width:100%;transform:rotate(45deg);-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#menu-toggle #cross span:nth-child(1){height:0%;width:3px;position:absolute;top:10%;left:18px;transition-delay:0s;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#menu-toggle #cross span:nth-child(2){width:0%;height:3px;position:absolute;left:10%;top:18px;transition-delay:.25s;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#menu-toggle.open #hamburger span{width:0%;}
#menu-toggle.open #hamburger span:nth-child(1){transition-delay:0s;}
#menu-toggle.open #hamburger span:nth-child(2){transition-delay:.125s;}
#menu-toggle.open #hamburger span:nth-child(3){transition-delay:.25s;}
#menu-toggle.open #cross span:nth-child(1){height:80%;transition-delay:.625s;}
#menu-toggle.open #cross span:nth-child(2){width:80%;transition-delay:.375s;}

/*************************nav*****************/
#cssmenu{display:inline-block;width:100%;vertical-align:middle;}
#cssmenu #head-mobile,#menu-toggle{display:none}
#cssmenu > ul{list-style:none;margin:0 80px;padding:0;display:inline-block;width:auto;text-align:center;}
#cssmenu > ul > li{display:inline-block;vertical-align:middle;width:auto;position:relative;margin-right:40px;}
#cssmenu > ul > li:last-child{margin-right:0;}
#cssmenu > ul > li > a{font-family:Sen-Regular;font-size:14px;line-height:1;color:#707fa2;text-align:center;position:relative;}
#cssmenu > ul > li > a:hover,#cssmenu > ul > li > a:focus,#cssmenu > ul > li.current-menu-item > a{color:#ff6089;}
/*#cssmenu > ul > li:last-child > a{padding-right:0;}*/
#cssmenu > ul > li.has-sub > a{padding-right:25px;}
#cssmenu > ul > li.has-sub > a:after{position:absolute;content:'';background:url(img/drop.png) no-repeat center right / 100% auto;top:50%;right:0px;width:12px;height:8px;margin-top:-2px;}
#cssmenu ul ul{position:absolute;left:-9999px;list-style:none;margin:0;padding:0;z-index:10;top:46px;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#202a4f;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:50%;margin-left:-60px;}
#cssmenu li:hover > ul > li{height:36px;}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.5);padding:9px 15px;width:120px;font-size:16px;line-height:18px;color:#ffffff;display:inline-block;text-align:left;}
#cssmenu ul li:last-child > a,#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff;background:#0fb9e1;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

/*******************link hover****************/
#cssmenu > ul > li > a::before, 
footer .upFoot .upfootIn ul li a::after,
footer .contDetail .contactLinks a::after{position:absolute;content:"";left:0;bottom:-4px;width:100%;height:1px;background:#ff6089;opacity:0;-moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}
#cssmenu > ul > li > a:hover::before,
#cssmenu > ul > li > a:focus::before,
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li:focus > a::before,
#cssmenu > ul > li.current-menu-item > a::before,
footer .contDetail .contactLinks a:hover::after,
footer .contDetail .contactLinks a:focus::after{opacity:1;-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}

/*************************header*****************************/
header{position:fixed;top:0;left:0;width:100%;z-index:10;transition:0.4s ease-in-out;}
header.nav-down{padding:34px 0;}
header.nav-up{padding:10px 0;background:rgba(21,24,46,0.96);}
header .logo{width:100%;max-width:155px;display:inline-block;vertical-align:middle;}
header .logo img{width:100%;height:auto;}
header nav#cssmenu{width:calc(100% - 159px);}
header nav#cssmenu .langSelect{display:inline-block;vertical-align:middle;width:80px;}
header nav#cssmenu .langSelect ul{background:transparent url(img/drop.png) no-repeat top left;position:relative;overflow:hidden;list-style:none;margin:0;padding:0;padding-left:14px;width:100%;height:20px;display:inline-block;vertical-align:middle;}
header nav#cssmenu .langSelect ul li{width:auto;display:inline-block;vertical-align:top;height:auto;position:absolute;left:15px;top:0;}
header nav#cssmenu .langSelect ul li + li{top:24px;}
header nav#cssmenu .langSelect ul li a{display:inline-block;vertical-align:top;width:100%;border:none;color:#d9d9d9;font-size:14px;line-height:1;font-family:Sen-Regular;text-align:left;}
header nav#cssmenu .langSelect ul li a:hover,
header nav#cssmenu .langSelect ul li a:focus{}
header nav#cssmenu .langSelect ul li.active a{}
/*header nav#cssmenu .langSelect select{width:100%;background:transparent url(img/drop.png) no-repeat center left;border:none;color:#d9d9d9;font-size:14px;line-height:1;font-family:Sen-Regular;text-align:left;padding-left:14px;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
header nav#cssmenu .langSelect select option{color:#333;}
header nav#cssmenu .langSelect select::-ms-expand{display:none;}*/

/*************************homeBanner*******************************/
.homeBanner{background-color:#15182e;background-repeat:no-repeat;background-position:center right;background-size:auto 100%;width:100%;height:100vh;position:relative;z-index:0;overflow:hidden;}
.homeBanner::after{content:"";position:absolute;left:0;bottom:0;width:932px;height:130px;background-repeat:no-repeat;background-position:center right;background-size:100% auto;background-image:url(img/bannerDecor.png);opacity:0.09;z-index:1;}
.homeBanner .container{position:relative;height:100%;}
.homeBanner .homeBannerIn{position:relative;height:100%;/*animation-duration:1s;animation-delay:0.4s;animation-name:fadeInLeft;*/}
.homeBanner .homeBannerIn .bannerText{width:100%;max-width:425px;transform:translateY(-50%);position:absolute;left:15px;top:50%;z-index:7;}
.homeBanner .homeBannerIn .bannerText h1{font-size:60px;line-height:1.2;color:#ffffff;margin:0 0 60px;font-family:'Lato-Light';width:100%;}
.homeBanner .homeBannerIn .bannerText p{font-size:14px;line-height:2.2;color:#707fa2;font-family:Sen-Regular;margin-bottom:25px;width:100%;}
.homeBanner .homeBannerIn .learnMoreBtn{position:relative;padding-left:25px;font-size:14px;line-height:20px;color:#ffffff;font-family:'Sen-Regular';}
.homeBanner .homeBannerIn .learnMoreBtn{position:relative;font-size:14px;line-height:20px;color:#ffffff;border:1px solid transparent;font-family:'Sen-Regular';padding:12px 12px 12px 32px;background:transparent;border-radius:2px;}
.homeBanner .homeBannerIn .learnMoreBtn::before{content:"";background:url(img/searcgicon.png) no-repeat center / 100% auto;width:19px;height:19px;position:absolute;left:0;top:50%;transform:translateY(-50%);}
.homeBanner .homeBannerIn .learnMoreBtn:hover,
.homeBanner .homeBannerIn .learnMoreBtn:focus{padding-left:40px;background:#32364f;border-color:#ff6089;color:#ff6089;box-shadow:0 0 5px #ff6089 inset;}
.homeBanner .homeBannerIn .learnMoreBtn:hover::before,
.homeBanner .homeBannerIn .learnMoreBtn:focus::before{left:12px;}

.homeBanner .userImageCover{width:100%;max-width:425px;transform:translate(0,-50%);position:absolute;left:50%;top:50%;z-index:2;height:100%;}
.homeBanner .userImageCover .userImgBox::after{content:"";display:block;padding-top:100%;}
.homeBanner .userImageCover .userImgBox{width:205px;background-color:#2b2e44;overflow:hidden;border-radius:10px;background-repeat:no-repeat;background-position:center;background-size:cover;position:absolute;top:50%;left:50%;;transform:translate(-50%,-50%);\
	animation-duration:1s;animation-delay:1s;animation-name:zoomIn;}
.homeBanner .userImageCover .userImgBox.user1{width:205px;transform:translate(-213px,-220px);animation-delay:0.7s;}
.homeBanner .userImageCover .userImgBox.user2{width:180px;transform:translate(34px,-83px);animation-delay:0.9s;}
.homeBanner .userImageCover .userImgBox.user3{width:124px;transform:translate(-133px,26px);animation-delay:1.1s;}
.homeBanner .userImageCover .userImgBox.user4{width:143px;transform:translate(33px,-270px);animation-delay:1.3s;}
.homeBanner .userImageCover .userImgBox.user5{width:90px;transform:translate(-132px,190px);animation-delay:1.5s;}

/*****************************tabCover***************************/
.tabCover{}
.tabCover .tabCoverIn{}

/*****************************EventCover***************************/
.eventCover{background-color:#fafbfc;padding:70px 0;width:100%;}
.eventCover .eventTextCover{width:100%;position:relative;z-index:0;}
.eventCover .eventTextCover h2{font-size:40px;line-height:1.1;color:#47484a;font-family:'Lato-Regular';width:100%;display:inline-block;vertical-align:top;margin:0 0 30px;}
.eventCover .eventTextCover p{font-size:14px;line-height:2.2;color:#707fa2;font-family:'Lato-Regular';width:100%;max-width:600px;display:inline-block;vertical-align:top;margin:0 0 45px;}
.eventCover .eventTextCover .bigText{font-size:200px;line-height:0.8;color:#edeef0;font-family:'Lato-Bold';position:absolute;z-index:-1;left:-100px;top:50px;}
.eventCover .gridCover{margin:0 -7px;display:inline-block;vertical-align:top;width:calc(100% + 15px);}
.eventCover .gridCover .col-8{width:66.66666667%;float:left;padding:0 7px;}
.eventCover .gridCover .col-4{width:33.33333333%;float:left;padding:0 7px;}
.eventCover .gridCover .col-100{width:100%;float:left;}
.eventCover .gridCover .col-50{width:calc(50% - 7px);float:left;}
.eventCover .gridCover .col-50:nth-child(odd){float:right;}
.eventCover .gridCover .gridBox{width:100%;float:left;margin-bottom:15px;}
.eventCover .gridCover .gridBox:hover .gridText{bottom:20px;}
.eventCover .gridCover .gridBox figure{width:100%;float:left;position:relative;background-size:cover;background-position:center top;background-repeat:no-repeat;z-index:0;border-radius:10px;overflow:hidden;}
.eventCover .gridCover .gridBox figure::before{content:"";display:block;padding-top:70%;}
.eventCover .gridCover .gridBox figure::after{content:"";position:absolute;left:0;bottom:0;width:100%;height:100%;z-index:-1;background:url(img/shadow.png) no-repeat center bottom / 100% auto;transform:scale(1.2);}
.eventCover .gridCover .col-100 .gridBox figure::before{padding-top:59%;}
.eventCover .gridCover .col-100 .gridBox figure::after{bottom:0;transform:scale(1);}
.eventCover .gridCover .gridBox .gridText{position:absolute;bottom:0;left:0;width:100%;padding:20px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.eventCover .gridCover .gridBox .gridText h3{font-size:24px;line-height:1;color:#fafbfc;font-family:'Lato-Regular';width:100%;display:inline-block;vertical-align:top;margin:0 0 10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.eventCover .gridCover .gridBox .gridText p{font-size:14px;line-height:1;color:#fafbfc;font-family:'Lato-light';width:100%;display:inline-block;vertical-align:top;margin:0;}
.showMoreBtn{width:201px;background-color:rgba(43,46,68,1);padding:35px 22px 35px 70px;border-radius:10px;font-size:16px;line-height:1.2;color:#ff6089;font-family:'Lato-Regular';position:relative;z-index:0;float:right;text-align:left;border:2px solid transparent;margin-top:63px;}
.showMoreBtn::before{content:"";background:url(img/showIcon.png) no-repeat center / 100% auto;width:28px;height:16px;position:absolute;left:22px;top:18px;}
.showMoreBtn:hover,
.showMoreBtn:focus{color:#ff6089;border-color:#ff6089;box-shadow:0 0 5px #ff6089 inset;}
.showMoreBtn:hover::before,
.showMoreBtn:focus::before{}
footer{background:#2b2e44;width:100%;height:auto;padding:130px 0 170px;z-index:0;position:relative;}
footer::before{content:"";position:absolute;left:0;top:0;background:url(img/footerBack.jpg) no-repeat top left;width:100%;height:100%;z-index:-1;}
footer .contDetail{display:inline-block;vertical-align:top;width:calc(100% - 404px);}
footer .contDetail h2{font-size:40px;line-height:1;color:#fafbfc;font-family:'Lato-Regular';display:inline-block;vertical-align:top;width:100%;margin:0 0 30px;}
footer .contDetail p{font-size:14px;line-height:30px;color:#707fa2;font-family:'Lato-Regular';display:inline-block;vertical-align:top;width:100%;margin:0 0 60px;}
footer .contDetail .contactLinks{display:inline-block;vertical-align:top;width:100%;color:#a9b3c8;font-size:14px;line-height:30px;font-family:'Lato-Regular';margin-bottom:40px;padding-left:40px;position:relative;}
footer .contDetail .contactLinks::before{content:"";position:absolute;left:0;top:4px;background:url(img/markerIcon.png) no-repeat center / 100% auto;width:21px;height:21px;}
footer .contDetail .contactLinks.email::before{background:url(img/webIcon.png) no-repeat center / 100% auto;}
footer .contDetail .contactLinks.call::before{background:url(img/callIcon.png) no-repeat center / 100% auto;}
footer .contDetail .contactLinks a{display:inline-block;vertical-align:top;width:auto;color:#a9b3c8;}
footer .contDetail .contactLinks a::after{}
footer .contDetail .contactLinks.address address{display:inline-block;vertical-align:top;width:100%;margin-bottom:0;line-height:30px;}
footer .contDetail .contactLinks a:hover,
footer .contDetail .contactLinks a:focus{color:#ff6089;}
footer .contDetail .contactLinks.email:hover::before,
footer .contDetail .contactLinks.email:focus::before{background:url(img/webIconHover.png) no-repeat center / 100% auto;}
footer .contDetail .contactLinks.call:hover::before,
footer .contDetail .contactLinks.call:focus::before{background:url(img/callIconHover.png) no-repeat center / 100% auto;}
footer .contDetail .socialCover{width:100%;display:inline-block;vertical-align:top;}
footer .contDetail .socialCover a{width:45px;height:45px;border:1px solid #ff6089;border-radius:3px;display:inline-block;vertical-align:top;text-align:center;line-height:45px;font-size:23px;color:#ff6089;margin-right:30px;}
footer .contDetail .socialCover a:last-child{margin:0;} 
footer .contDetail .socialCover a:hover,
footer .contDetail .socialCover a:focus{background-color:#32364f;box-shadow:0 0 5px #ff6089 inset;}
footer .formCover{width:400px;height:auto;display:inline-block;vertical-align:top;padding-top:40px;}
footer .formCover h3{margin:0 0 20px;font-size:20px;line-height:1;color:#fafbfc;font-family:'Lato-Hairline';}
footer .formCover .form-group{display:inline-block;vertical-align:top;width:100%;margin-bottom:25px;}	
footer .formCover .form-group input, footer .formCover .form-group textarea{background-color:#24273b;width:100%;display:inline-block;vertical-align:top;font-size:14px;line-height:1.3;color:#707fa2;font-family:'Lato-Regular';padding:30px 15px 30px 47px;border:2px solid transparent;border-radius:4px;}
footer .formCover .form-group textarea{resize:none;height:133px;padding:30px 15px 15px 47px;}
footer .formCover .form-group input:focus,
footer .formCover .form-group textarea:focus{border-color:#ff6089;box-shadow:0 0 5px #ff6089 inset;}
footer .formCover .sendBtn{width:74px;height:74px;float:right;border:1px solid transparent;border-radius:4px;font-size:0;padding:10px;background:#32364f url(img/sendIcon.png) no-repeat center / 24px 24px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
footer .formCover .sendBtn:hover,
footer .formCover .sendBtn:focus{color:#ff6089;border-color:#ff6089;box-shadow:0 0 5px #ff6089 inset;}

/****************************text-Animation**************************/
.text--rotate .char{animation:slide-in 1s cubic-bezier(.5, 0, .5, 1) both;animation-delay:calc(60ms * var(--char-index));}
@keyframes slide-in{from{transform:translateY(-1em) rotate(-.5turn) scale(0.5);opacity:0;}
}
.text--bulge-new .char{-webkit-animation-name:bulge;animation-name:bulge;animation-delay:calc(60ms * var(--char-index));-webkit-animation-duration:0.25s;animation-duration:0.25s;}
@-webkit-keyframes bulge{50%{-webkit-transform:scale(1.5);transform:scale(1.5);}
}
@keyframes bulge{50%{-webkit-transform:scale(1.5);transform:scale(1.5);}
}
/****************************responsive**************************/
/****************************responsive**************************/
/****************************responsive**************************/
/****************************responsive**************************/
@media (max-width:1200px){#cssmenu > ul > li{margin-right:31px;}	
.showMoreBtn{margin-top:42px;}
.eventCover .gridCover .gridBox .gridText h3{font-size:18px;margin:0 0 6px;}
}
@media (max-width:1100px){}
@media (max-width:1024px){}
@media (max-width:991px){header .logo{max-width:115px;}
#cssmenu > ul{margin:0 25px;}
#cssmenu > ul > li{margin-right:15px;}
header nav#cssmenu{width:calc(100% - 120px);}
.homeBanner .homeBannerIn .bannerText h1{font-size:40px;margin:0 0 15px;}
.homeBanner .userImageCover{transform:translate(-50%,-50%);}
.eventCover .gridCover .gridBox .gridText{padding:15px;}
.eventCover .gridCover .gridBox .gridText h3{font-size:16px;}
.showMoreBtn{margin-top:7px;}
.homeBanner .userImageCover{ display: none; }
}
@media (max-width:767px){
/**********************mobile menu start********************/    
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none;text-align:left;margin:15px 0;float:left;}
#cssmenu ul li{width:100%;border-top:1px solid #e7e7e7;position:relative;display:inline-block;padding:0;}
/*#cssmenu ul li:hover{background:#363636;}*/
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto;}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;padding:15px;float:left;text-align:left;}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{/*background:#333!important;*/float:left;}
#cssmenu ul ul li:hover{/*background:#363636!important*/}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:static;left:0;width:100%;margin:0;text-align:left;float:left;}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu li:hover > ul{left:0;margin-left:0;}
#cssmenu #head-mobile,#menu-toggle{display:block;/*padding:23px;color:#ddd;font-size:12px;font-weight:700*/}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index:12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;/*border-left:1px solid #e7e7e7;*/height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#fff;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#fff;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
#cssmenu ul li a, #cssmenu ul ul li a{text-align:center;}
/*************************mob menu end**************************************/    
header{position:relative;}
header.nav-down,
header.nav-up{padding:15px 0;background:rgba(21,24,46,1);}
header .logo{max-width:140px;position:absolute;left:15px;top:16px;}
header nav#cssmenu{width:100%;}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li > a:focus, #cssmenu > ul > li.current-menu-item > a{color:#707fa2;}
#cssmenu > ul > li > a:hover::before, #cssmenu > ul > li > a:focus::before, #cssmenu > ul > li:hover > a::before, #cssmenu > ul > li:focus > a::before, #cssmenu > ul > li.current-menu-item > a::before, footer .contDetail .contactLinks a:hover::after, footer .contDetail .contactLinks a:focus::after{display:none;}
.homeBanner .homeBannerIn .bannerText{left:0;}
.eventCover .eventTextCover h2{font-size:30px;margin:0 0 20px;}
.eventCover .eventTextCover p{line-height:1.5;margin:0 0 30px;}
.eventCover .eventTextCover .bigText{font-size:120px;left:-7px;top:-15px;}
.eventCover .gridCover .col-8,
.eventCover .gridCover .col-4{width:100%;}
.eventCover .gridCover  .col-4 .gridBox{width:calc(50% - 7px);float:left;}
.eventCover .gridCover  .col-4 .gridBox:nth-child(odd){float:right}
footer,.eventCover{padding:40px 0;}
footer .contDetail{width:100%;text-align:center;}
footer .formCover{width:100%;}
footer .formCover .form-group input, footer .formCover .form-group textarea{padding:15px;}
footer .formCover .form-group{margin-bottom:10px;}
footer .contDetail .contactLinks{width:auto;margin-bottom:20px;padding-left:26px;}
}
@media (max-width:600px){}
@media (max-width:500px){.eventCover .gridCover .col-50,
.eventCover .gridCover .col-4 .gridBox{width:100%;}
.eventCover .gridCover .col-100 .gridBox figure::before{padding-top:70%;}
}
@media (max-width:420px){}
@media (max-width:360px){}
@media (max-width:320px){}